<p id="notice"><%= notice %></p>

<h1>Registro dos Clientes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome Completo</th>
      <th>Email</th>
      <th>Data de Nascimento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.fullname %></td>
        <td><%= client.email %></td>
        <td><%= client.birthday %></td>
        <td><%= link_to 'Mostrar', client  %></td>
        <td><%= link_to 'Editar', edit_client_path(client)  %></td>
        <td><%= link_to 'Apagar', client, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Novo Cliente", new_client_path, class: "btn btn-primary btn-lg", role: "button" %>
<%= link_to "Home", root_path, class: "btn btn-primary btn-lg", role: "button" %>

